README.md.backup
dh.pem
genpdsdm.history
scriptmaster.sed
HOWTO-git.txt
postfix
master.cf
postfix-master.cf.patch
vernpdadsd.sh
koppelingen.txt
postfix.ymp
postfixsettings.txt
beelaertsict.nl.dkim20230908.pem
beelaertsict.nl.dkim20230908.txtrecord
postfix.ymp
sysconfig.mail.sav
sysconfig.postfix.sav
.~lock.genmailmodule.odt#
\[pfx\]\ Re_What\ features\ to\ deprecate.mbox
testdkim.exp.new
